<ul>
    <li *ngFor="let cake of cakes ">
        <a routerLink = "/cake/{{cake.id}}">
        <img src="{{cake.cakeImg}}" alt = "cake images">
        <div class="content">
            <div class="name">
                {{cake.cakeName}}
            </div>
            <star-rating [value]="cake.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
            <!---<div class="bake-time">
                <span>clock picture</span>
                {{cake.bake-time}}
            </div> -->
            <div class="price">
                {{cake.cakePrice | currency:'INR'}}
            </div>
        </div>
    </a>
    </li>
</ul>
