ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
   }
   ul li a{
    height: 22.5rem;
    width: 16rem;
    border: 1px solid whitesmoke;
    border-radius: 0.2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    color: black;
   }
   li a:hover{
    opacity: 0.9;
    cursor: pointer;
   }
   .content{
    padding: .5rem 1rem;
    position:relative;
   }
   .star{
    margin-bottom: .2rem;
   }
   .product-item-footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
   }
   .price{
       color: #424242;;
       margin-top:0.2rem;
   }
   