<div *ngIf = "tags" [style.justifyContent]="justifyContent">
    <a *ngFor=" let tag of tags" routerLink="/tag/{{tag.name}}" >{{tag.name}}</a>
</div>

<div *ngIf = "cakePageTags" [style.justifyContent]="justifyContent">
    <a *ngFor=" let tagname of cakePageTags" routerLink="/tag/{{tagname}}">{{tagname}}</a>
</div>
