<!---<app-search></app-search>
<app-tags></app-tags> -->
<!--<app-search></app-search>-->
<div class="banner">
    <div class="content">
        <h1 class="mb-5">Freshly Baked Cakes <br/> At Your Door Step.</h1>
        <a routerLink="menu"> ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to get <span class="highlight">Fresh Cakes</span></h1>
    <div class="row mt-5">
        <!-- one -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Select Cakes</p>
            </div>
        </div>
        <!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Fill the Details</p>
            </div>
        </div>
        <!--three-->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Your Order will Deliver in short time</p>
            </div>
        </div>
    </div>
</div>

<!-- CakeBox -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers <span class="highlight">Favourite Cakes</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let ck of cakes;index as i">
            <div class="cakebox" *ngIf="i<=3">
                <img src="{{ck.cakeImg}}"/>
                <h1>{{ck.cakeName}}</h1>
                <p>{{ck.cakePrice | currency:'INR'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">View More <i class="bi bi-arrow-right"></i></a>
</div>
