.banner
{
    background-image: url('src\assets\images\cake12.png');
    height: 600px;
    background-position: center;
    background-size: cover;
}
.content
{
    left: 20%;
    top: 50%;
    position: absolute;
    
}


.content h1
{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
.content a
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
    
}

.content a:hover
{
    background-color: var(--primary-color);
    color: #fff;
}

.stepBox
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.stepBox h1
{
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}

.stepBox p
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}

.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.cakebox
{
    padding: 10px 5px;
}
.cakebox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.cakebox h1
{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: none;
    background-color: var(--primary-color);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;

}

@media screen and (max-width: 600px)
{
    .banner
{
    height: 700px;
}
}