<div class="bg-img">
    <div class="container" style="width:500px">
      <!-- <form method="post" action="/addname"> -->
      <form #loginForm="ngForm" (ngSubmit)="loginForm.value">
        <!-- class="container"> -->
        <h1>Sign Up</h1>
         
          <label>Name</label><br>
          <input type="text" name="name" ngModel #sname placeholder="Enter first name..." required><br>
          <label>Email</label><br>
          <input type="text" name="email" ngModel #email placeholder="Enter your email..." required><br>
          <label>Password</label><br>
          <input type="password" name="password" ngModel #password placeholder="Enter password..." required><br>
          <label>Confirm Password</label><br>
          <input type="password" name="confirmpassword" ngModel #confirmpassword placeholder="Confirm password..." required><br>
          <form method="POST" routerLink="/home">
            <input type="submit" class="btn" name="LOGIN">
          </form>
          <!------<button type="submit" class="btn btn-primary" >Register</button><br>--->
          <!-- <button type="submit" class="btn" (click)='checkPwd()'> Register </button> -->
          
          <!----------<a routerLink="/home">Home Page</a>--->
      </form>
    </div>
</div>
