<!--<app-not-found [visible]="!cake" notFoundMessage="Product Not Found" resetLinkText="Go to HomePage"></app-not-found>-->
<app-search></app-search>
<app-tags></app-tags>
<div *ngIf="cake" class="container">
    <img [src]="cake.cakeImg" [alt]="cake.cakeName">
</div>
<div class="details">
    <div class = "header">
        <span class="name">
            {{cake.cakeName}}
        </span>
        <div class = "star">
            <star-rating [value]="cake.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
        </div>
        <div class="about">
            {{cake.cakeDetails}}
        </div>
        
        <div class="price">
            <span>
                {{cake.cakePrice | currency:'INR'}}
            </span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>
