.container{
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    margin:1.5rem;

}
ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    margin: .5rem;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}
.details .price{
    font-size:1.8rem;
    margin: 1rem 1rem 1rem 0;
    color:green;
}
.details .price::before{
    content: "price: ";
    color:gray;
}
.details button{
    color:white;
    background-color: #e72929;
    border:none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
}
.details button:hover{
    opacity:0.9;
    cursor:pointer;
}

