.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: #000;
    padding: 20px 10px;
}

h1
{
    font-weight: bold;
    color: #fff; 
    font-size: 20px;
}
p
{
    color: #fff;
    font-size: 12px;
}

a
{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}

a:hover
{
    color: var(--primary-color);
}

i
{
    padding: 0px 10px;
}
