<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter First Name" >
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name" >
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email ID" >
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile Number" >
            </div>

            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
