<div class="bg-img">
    <form #loginForm=ngForm (ngSubmit)="loginSubmit(loginForm.value)" class="container">
      <h1>Login</h1>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <!---<a routerLink="/menu" class="btn btn-info" role="button">Login</a>-->
  
      <!----<button type="submit" class="btn">Login</button><br>-->
      <!-- <button (click)='newLogin()'> New User? </button> -->
      <!-- <router-outlet></router-outlet> -->
      <form method="POST" routerLink="/home">
        <input type="submit" class="btn" name="LOGIN">
      </form>
      <a routerLink="/register">New User?</a>
      <!--<a routerLink="menu" onClick() ></a>-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!--<a routerLink="/home">Home Page</a>-->
    </form>
  </div>

