container{
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    margin:1.5rem;

}
ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    border: 1px solid black;
    border-radius: 1rem;
    margin: .5rem;
    padding: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}
ul li:last-child{
    border: none;
}

ul li img{
    height: 5rem;
    width:5rem;
    border-radius:100rem;
    object-fit: cover;
}

ul li div{
    padding: 1rem;
}
ul li div:not(:first-child){
    flex-basis: 18%;
}
ul li select{
    width: 4rem;
    border: none;
    outline: none;
    border-bottom: 1px solid lightcoral;
    font-weight:100;
}

ul .remove-button{
    border-radius: 1rem;
    border:none;
    outline:none;
    padding:0.5rem;
    opacity: .7;
    color: #26ec14;
}
ul .remove-button:hover{
    opacity: 1;
    cursor: pointer;

}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border:1px solid black;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
}

.checkout>div{
    display:flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    font-size: 1.4rem;

}
.checkout .plant-count{
    margin-bottom: 1.5rem;

}

.checkout .plant-count::before{
    content:'Total Plants';
    color:green;

}

.checkout .total-price::before{
    content:'Total Price';
    color:green;
    
}
.checkout a{
    padding: 1rem;
    color: green;
    background-color: greenyellow;
    display: block;
    width: 99%;
    border-radius: 1rem;
    text-align: center;
    opacity: .7;
    justify-content: center;
}
.checkout a:hover{
    opacity: 1;
    cursor:pointer;
}
