<!--<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cake-Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <a href="#" routerLink="/login">Logout</a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register"> Register </a>
          </li>-->
          <!---<li class="nav-item">
            <a class="nav-link" routerLink="/cakepage" >cakepage</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"> About </a>
          </li>
          <li>
          <a class="nav-link" routerLink="/login">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>-->

<div class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
            <img [src]="cartItem.cake.cakeImg" [alt]="cartItem.cake.cakeName">
            </div>
            <div>
                <a routerLink="/cake/{{cartItem.cake.id}}">
                    {{cartItem.cake.cakeName}}
                </a>
            </div>
            <div>
                <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
    
                </select>
            </div>
            <div>
                {{cartItem.price | currency:'INR'}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">Remove</button>
            </div>
        </li>
    </ul>
    
    <div class="checkout">
        <div class="cakes-count">
            {{cart.items.length}}
        </div>
        <div class="total-price">
            {{cart.totalPrice | currency:'INR'}}
        </div>
        <a routerLink="/checkout">Proceed to Checkout</a>
    </div>
    
</div>
